.page-wrapper {
  background: linear-gradient(
    135deg,
    #0f172b 0%,
    rgba(0, 79, 59, 0.4) 30%,
    #59168b 100%
  );
  padding-bottom: 24px;
}

.container-logout {
  display: flex;
  align-items: center;
  background-color: var(--bg-logout);
  border: 1px solid var(--border);
  border-radius: 8px;
  gap: 14px;
  padding: 6.5px 11px 5.5px 10px;
  cursor: pointer;
}

.container-game {
  display: flex;
  margin: 0 139px;
  margin-top: 20px;
}

.container-display {
  display: flex;
  flex-direction: column;
}

.container-bonus-leaderboard {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.message-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: -0.31px;
}

.success-text {
  color: var(--border-green);
}

.error-text {
  color: var(--red-btn);
}



.container {
  background: linear-gradient(
    135deg,
    #0f172b 0%,
    rgba(0, 79, 59, 0.4) 30%,
    #59168b 100%
  );
}

