.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  width: 100%;
  max-width: 448px;
  background-color: var(--dark);
  padding: 32px;
  border-radius: 14px;
  border: 1px solid var(--border-green);
}

.form-text {
  color: var(--white);
  font-size: 30px;
  line-height: 1.2;
  letter-spacing: 0.4px;
  font-weight: 400;
  text-align: center;
  margin: 16px 0 8px;
}

.form-img {
  display: flex;
  justify-content: center;
}

.form-text-small {
  color: var(--text-gray);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.31px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 56px;
}

.container-input {
  display: flex;
  flex-direction: column;
}

.label {
  color: var(--label-text);
  font-size: 14px;
  line-height: 1;
  letter-spacing: -0.15px;
  font-weight: 500;
  margin-bottom: 4px;
}

.input {
  background-color: var(--input-color);
  border: 1px solid var(--border-input);
  border-radius: 8px;
  height: 36px;
  padding-left: 12px;
  color: var(--email-text);
  line-height: 1;
  font-size: 14px;
  letter-spacing: -0.15px;
  font-weight: 400;
}

.input:not(:last-of-type) {
  margin-bottom: 16px;
}

.input:focus {
  outline: none;
  border-color: var(--text-blue);
}

.input::placeholder {
  color: var(--email-text);
  line-height: 1;
  font-size: 14px;
  letter-spacing: -0.15px;
  font-weight: 400;
}

.error-text {
  text-align: start;
  color: var(--text-red);
  background-color: var(--bg-red);
  border: 1px solid var(--border-red);
  line-height: 1.4;
  font-size: 14px;
  letter-spacing: -0.15px;
  font-weight: 400;
  border-radius: 10px;
  padding: 13.5px 0px 12.5px 13px;
  margin-top: 16px;
}

.btn-login {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  background: linear-gradient(90deg, #009966 0%, #155dfc 100%);
  border: none;
  border-radius: 8px;
  gap: 16px;
  padding: 8.5px 0 7.5px 0;
  cursor: pointer;
}

.text-btn {
  line-height: 1.4;
  font-size: 14px;
  letter-spacing: -0.15px;
  font-weight: 500;
  color: var(--white);
}

.container-link {
  display: flex; 
  justify-content: center; 
}

.container-link-login {
display: flex;
align-items: center;
justify-content: center;
gap: 4px;
margin-top: 8px;
}

.btn-to-login {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: -0.31px;
  color: var(--text-blue);     
  cursor: pointer;
  margin-top: 19.5px;
}


.text-gray {
 font-size: 14px;
  font-weight: 500;
  line-height: 1.4;
  color: var(--text-blue);

}

.text-link {
  color: var(--text-blue);
  line-height: 1.4;
  font-size: 14px;
  letter-spacing: -0.15px;
  font-weight: 400;
  text-align: center;
  margin-top: 19.5px;
}

.text-forgot {
  color: var(--text-blue);
  line-height: 1.4;
  font-size: 12px;
  letter-spacing: -0.15px;
  font-weight: 400;
}

.link {
  color: var(--text-blue);
  line-height: 1.4;
  font-size: 14px;
  letter-spacing: -0.15px;
  font-weight: 400;
  text-align: center;
}

.line {
  height: 1px;
  background-color: var(--border-input);
  width: 100%;
  margin: 17px 0;
}

.text-bottom {
  color: var(--text-bottom);
  line-height: 1.33;
  font-size: 14px;
  letter-spacing: 0;
  font-weight: 400;
  text-align: center;
}

.text-reset {
  margin-top: 10px;
  color: var(--text-red);
  text-align: center;
  line-height: 1.33;
  font-size: 14px;
  letter-spacing: 0;
  font-weight: 400;
}


