@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


:root {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;  

  --white: #FFFFFF;
  --white-btn: #FFFFFF80;
  --dark: rgba(29, 41, 61, 0.8);
  --dark-input: rgba(29, 41, 61, 0.8);
  --dark-two: #0F172B50;
  --black: #0F172B;
  --email-text: #717182;
  --input-color: #0F172B;
  --label-text: #CAD5E2;
  --text-blue: #51A2FF;
  --text-gray: #90A1B9;
  --text-bottom: #62748E;
  --border: #314158;
  --background: rgba(29, 41, 61, 0.5); 
  --border-green: #007A5580;
  --border-input: #314158;
  --bg-red:  #FB2C3633;
  --border-red:  #FB2C3680;
  --text-red: #FF6467;
  --bg-logout: #1D293D80;
  --border-blue: #1447E64D;
  --bg-rocket: #1D293D80;
  --bg-car: #1A1D28;
  --bg-btn-start: #C1C1C1;
  --border-green-color: #00BC7D4D;
  --bg-input: #1D293D;
  --red-btn: #D4183D;
  --bg-players: #1D293D50;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%; 
  overflow-x: hidden;  


 

}

body {  
  margin: 0;
  padding: 0; 
  overflow-x: hidden;  
}

.no-scroll {
  overflow: hidden !important;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
li {
  list-style: none;
}

img {
  display: block;  
}




